body {
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("../public/image-mesh-gradient\ \(15\).png");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
}

.start-screen > h1, .start-screen > p {
  margin: 0;
  color: #293264;
}

.start-screen > h1 {
  font-family: "Bungee";
  font-size: 4rem;
  margin-bottom: 0.25em;
}

.start-screen > p {
  text-align: center;
  max-width: 500px;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.button {
  font-family: "Inter";
  font-size: 1rem;
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: #293264;
}

.quiz-section {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #293264;
}

.question {
  padding: 2em 0;
  border-bottom: 1px #c9ceec solid;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.question > p {
  margin: 0;
  max-width: 95%;
  font-size: 1.25rem;
  font-family: "Inter";
  font-weight: 700;
}

.question > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 12px;
  flex-wrap: wrap;
  row-gap: 1.25em;
}

li > input[type="radio"] {
  display: none;
}

li {
  min-width: 0;
}

li > label {
  font-family: "Inter";
  font-weight: 500;
  border: 1px #4D5B9E solid;
  border-radius: 12px;
  padding: 4px 16px;
  cursor: pointer;
  text-align: center;
}

li > label:hover {
  background-color: #eaecf9;
}

li > input[type="radio"]:checked + label {
  background-color: #D6DBF5;
  border: 1px #D6DBF5 solid;
}

li > input[type="radio"]:checked + label.correct,
li > label.correct {
  background-color: #94D7A2;
  border: 1px #94D7A2 solid;
}

li > input[type="radio"]:checked + label.incorrect,
li > label.incorrect {
  background-color: #F8BCBC;
  border: 1px #F8BCBC solid;
  opacity: 0.5;
}

li > label.other {
  opacity: 0.5;
}

.quiz-section > button {
  margin-top: 2em;
  align-self: center;
}

.quiz-section > button:disabled {
  background-color: #c9ceec;
  opacity: 0.5;
  color:#000;
  cursor: not-allowed;
}

.result-section {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.result-section > p, 
p.loading {
  margin: 0;
  font-size: 1.25rem;
  font-family: "Inter";
  font-weight: 700;
}
