body {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("/image-mesh-gradient\ \(15\).png");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start-screen > h1, .start-screen > p {
  margin: 0;
  color: #293264;
}

.start-screen > h1 {
  font-family: "Bungee";
  font-size: 4rem;
  margin-bottom: 0.25em;
  background: linear-gradient(90deg, #293264,#4D5B9E);
  color: transparent;
  background-clip: text;
}

.start-screen > p {
  text-align: center;
  max-width: 500px;
  font-size: 1.5rem;
  margin-bottom: 1em;
}

.button {
  font-family: inherit;
  font-size: 1rem;
  background-color: #4D5B9E;
  background: linear-gradient(60deg, #293264,#4D5B9E);
  color: #F5F7FB;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

.button:hover {
  background: #4D5B9E;
}

.settings {
  position: absolute;
  top: 1em;
  right: 1em;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 48px;
  border-radius: 6px;
  border: none;
  padding: 0;
  margin: 0;
  background-color: #4D5B9E;
  background: linear-gradient(60deg, #293264,#4D5B9E);
  cursor: pointer;
}

.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.2);
  z-index: 99;
}

.settings-box {
  position: fixed;
  box-sizing: border-box;
  padding: 5rem 2rem 2rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  height: auto;
  max-height: 90vh;

  width: 90%;
  max-width: 500px;
  background-color: #fff;
  border-radius: 10px;
  z-index: 100;
  box-shadow: #4D5B9E50 2px 2px 50px;

  display: flex;
  flex-direction: column;

  color: #293264
}

.settings-box label {
  margin-bottom: 0.5rem;
  font-weight: 600;
  display: block;
}

.settings-box select {
  margin-bottom: 2rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  border: 1px #4D5B9E solid;
  font-family: "Inter";
  font-size: 1rem;
  color: #293264
}

.settings-box button.close {
  position: absolute;
  height: 48px;
  width: 48px;
  top: 1rem;
  right: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #293264;
  border-radius: 4px;
}

.settings-box .save {
  position: static;
  border-radius: 8px;
  align-self: flex-end;
}

.settings-box .close:hover {
  background-color: #c9ceec;
}

.quiz-section {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #293264;
}

.question {
  padding: 2em 0;
  border-bottom: 1px #c9ceec solid;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.question > p {
  margin: 0;
  max-width: 95%;
  font-size: 1.25rem;
  font-weight: 700;
}

.question > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 12px;
  flex-wrap: wrap;
  row-gap: 1.25em;
}

li > input[type="radio"] {
  display: none;
}

li {
  min-width: 0;
}

li > label {
  font-weight: 500;
  border: 1px #4D5B9E solid;
  border-radius: 12px;
  padding: 4px 16px;
  cursor: pointer;
  text-align: center;
}

li > label:hover {
  background-color: #eaecf9;
}

li > input[type="radio"]:checked + label {
  background-color: #D6DBF5;
  border: 1px #D6DBF5 solid;
}

li > input[type="radio"]:checked + label.correct,
li > label.correct {
  background-color: #94D7A2;
  border: 1px #94D7A2 solid;
}

li > input[type="radio"]:checked + label.incorrect,
li > label.incorrect {
  background-color: #F8BCBC;
  border: 1px #F8BCBC solid;
  opacity: 0.5;
}

li > label.other {
  opacity: 0.5;
}

.quiz-section > button {
  margin-top: 2em;
  align-self: center;
}

.quiz-section > button:disabled {
  background-color: #c9ceec;
  opacity: 0.5;
  color:#000;
  cursor: not-allowed;
}

.result-section {
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}

.result-section > p, 
p.loading {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
}


@media (max-width: 600px) {
  .quiz-section {
    padding: 2em;
  }

  .start-screen > h1 {
    font-size: 2.5rem;
  }

  .start-screen > p {
    font-size: 1.1rem;
    max-width: 80%;
  }
}