body {
  margin: 0;
  padding: 0;
  background-color: #F5F7FB ;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Inter";
}

.start-screen > h1, .start-screen > p {
  margin: 0;
  color: #293264;
}

.start-screen > h1 {
  font-family: "Bungee";
  font-size: 2.5rem;
  margin-bottom: 0.25em;
}

.start-screen > p {
  font-size: 1rem;
  margin-bottom: 2em;
}

.button {
  font-family: "Inter";
  font-size: 1rem;
  background-color: #4D5B9E;
  color: #F5F7FB;
  padding: 1em 2em;
  border: none;
  border-radius: 1em;
  cursor: pointer;
}

.button:hover {
  background-color: #293264;
}

.quiz-section {
  padding: 4em;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  color: #293264;
}

.question {
  padding: 2em 0;
  border-bottom: 1px #DBDEF0 solid;
  display: flex;
  flex-direction: column;
  gap: 1.25em;
}

.question > p {
  margin: 0;
  max-width: 95%;
  font-size: 1.25rem;
  font-family: "Inter";
  font-weight: 700;
}

.question > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 12px;
}

li > input[type="radio"] {
  display: none;
}

li > label {
  font-family: "Inter";
  font-weight: 500;
  border: 1px #4D5B9E solid;
  border-radius: 12px;
  padding: 4px 16px;
  cursor: pointer;
}

li > label:hover {
  background-color: #eaecf9;
}

li > input[type="radio"]:checked + label {
  background-color: #D6DBF5;
  border: 1px #D6DBF5 solid;
}

.quiz-section > button {
  margin-top: 2em;
  align-self: center;
}

